# SV Jakarta Timesheet credentials
LOGIN_URL=https://new-timesheet.sharingvisionjakarta.com/api/auth/login
EMAIL=your.email@example.com
PASS=your_password_here
REFERER_URL=https://new-timesheet.sharingvisionjakarta.com
ORIGIN_URL=https://new-timesheet.sharingvisionjakarta.com
DOMAIN=new-timesheet.sharingvisionjakarta.com